body {
  font-family: 'Annie Use Your Telescope', cursive;
  background-color: #f2eae8;
  box-sizing: border-box;
}

.introimage {
  display: block;
  margin: auto;
  align-items: center;
  border-radius: 20px;
}

h1 {
  color: #3d3330;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: justify;
}

p {
  text-align: left;
}

.clear {
  clear: both;
}

.sidebar {
  width: 100px;
  float: right;
  text-align: justify;
  background-color: pink;
  border: 2px brown;
  padding: 10px;
  margin: 5px;
}
